.shake {
  animation: shake 0.6s !important;
  animation-iteration-count: 1 !important;
  position: relative !important;
  z-index: 2000 !important;
  outline: 8px solid red !important;
  box-shadow: 0 0 25px rgba(255, 0, 0, 1) !important;
  transform-origin: center center !important;
  transition: none !important;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0) !important;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-25px) !important;
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(25px) !important;
  }
}
